<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="button.css" /> -->
    <link rel="stylesheet" href="style.css" />
    <title>Shortify</title>
  </head>
  <body>
    <div class="container2">
      <div class="button-wrapper">
        <a href="/analytic" class="top-right-link">Analytics</a>
      </div>
      <div class="button-wrapper">
        <a href="/logout" class="top-right-link">Log Out</a>
      </div>
    </div>

    <div class="container">
      <h1>Shortify</h1>
      <% if (locals.shrid) { %>
      <p>Generated Url: s--u.vercel.app/url/<%= shrid %></p>
      <% } %>
      <form action="/url" method="POST">
        <label for="name">
          <h3>Enter Your Original Url</h3>
        </label>
        <input
          type="text"
          id="name"
          name="url"
          required
          placeholder="example.com"
        />
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
