

.top-right-link {
    position: absolute;
    top: 10px;
    /* Aligns the link to the top */
    right: 10px;
    /* Aligns the link to the right */
    padding: 10px;
    /* Optional padding for better spacing */
    /* background-color: #f8f9fa; */
    /* Background color for the link */
    color: black;
    /* Link color */
        background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    /* Remove underline from the link */
    /* border: 1px solid #007bff; */
    /* Optional border */
    border-radius: 15px;
    /* Optional border radius for rounded corners */
}

.top-right-link:hover {
    background-color: darkgray;
    /* opacity: 0.1; */
}

body {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #002D62;
}


.container3 {
    text-align: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    /* Maximum width for larger screens */
}